:global {
    .nav .dropdown-toggle.btn {
        background-color: inherit !important;
        color: inherit !important;
        border: none !important;
        @media (min-width: 769px) {
            height: 100%;
        }
        &:active,
        &:focus {
            box-shadow: none;
        }
    }
    // [Origin]  https://getbootstrap.com/docs/4.5/examples/offcanvas/offcanvas.css

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
        .nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            color: rgba(255, 255, 255, 0.75);
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    }
    .nav-underline {
        .nav-link {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            font-size: 0.875rem;
            color: #6c757d;
            &:hover {
                color: #007bff;
            }
        }
        .active {
            font-weight: 500;
            color: #343a40;
        }
    }
}
